* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 20px auto;
    width: 800px;
    display: grid;
    gap: 10px;
    grid-template-columns: 400px 400px; /* Hvor mange columns skal der være? Hen af */
    grid-template-rows: 400px 400px 400px; /* Hvor mange rows skal der være? Ned af */
}

.box1 {
    background-color: red;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.box2 {
    background-color: yellow;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
}

.box3 {
    background-color: green;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.box4 {
    background-color: blue;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}
